@use  "../variable";
@import "../base";

$color1:#f2f1ef;
$color2:rgb(127, 152, 184);
$color3:rgb(179, 183, 185);



.container {
    margin: 15px;
    padding: 15px;
    background-color: $color1;
    line-height: 3rem;
    .part1 h1{
        text-align: center;
        color: black;
    }
    .part1 h4 {
        text-align: center;
        color: $color2;
      
    }
  }

  .part2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 4rem;
    margin: 4rem 40px;
    div{
        width: 250px;
    }
    img{
        margin-left: 30px; 
    }
    h4{
      text-align: center;
      line-height: 3rem;
    }
    p{
        text-align: center;
        line-height: 1.3rem;
        color: $color3;   
    }
  }
  
  .part3{
    text-align: center;
    font-size: 20px;
  }
  
  .part4{
    display: flex;
    justify-content: space-around;
    line-height: 1rem;
    margin-top: 3rem;
    span{
        color: $color2;
      }
    .part41 p {
        max-width:  380px;
        color: $color3 ;
        padding: 2rem 0 3rem 0;
      }
      .part42 p{
        max-width: 390px;
        color: $color3;
        padding: 2rem 0 3rem 0;
      }
      
    
  }
  
  .user {
    display: flex;
    align-items: center;
    strong{
        margin-left: 2rem;
      
      }
  
  }
  
  @media (max-width: 375px){
    .container{
      max-width: 360px;
      padding: 0px; 
    }
    .part1 h1{
            font-size: 20px;
        }
    .part1 h4{
            font-size: 16px;
        }
        
    .part2{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      margin-top: 2rem;
    }
    .part2 img{
        margin-left: 0px;
        margin-top: 2rem;
    }
  }

  @media(max-width:375px){
    .container{
        max-width: 342px;
        padding: 0px; 
      }
    .part4{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .user{
        display: flex;
        flex-direction: column;
        strong{
            margin-top: 30px;
        }
        
    }
    .part4 .part41 p{
        text-align: center;
        max-width: 300px;
        margin-left: 10px;
    }
    .part4 .part42  p{
        text-align: center;
        max-width: 300px;
        margin-left: 20px;
    }
    
  }
  