@import "../variable";
@import "../base";





#sec2{
    background-color: #e8eaef;


   
    .s2{
        text-align: center;
        padding-top: 20px;
    }
    .flex{

      
       display: flex;
       align-items: center;
       justify-content: center;
       flex-wrap: wrap;
       
    }
}